$bg-color: #bee8ff;
$txt-color: black;
$input-outline: #3b69ff;
$btn-color: rgb(55, 168, 255);
$btn-hover-color: rgb(13, 115, 193);
$font: math;
$card-bg-color: white;
$alert-color: #721c24;
$alert-bg-color: #f8d7da;
$alert-bg-border-color: #f5c6cb;
